<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rehatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
